Repository tylaperryer/warmthly: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --config .config/eslint.config.mjs, prettier --write --config .config/.prettierrc.json, stylelint --fix --config .config/.stylelintrc.json, npm run validate:i18n

Delete .gitignore
  .gitignore
Due: none

Delete .lighthouserc.json
  .lighthouserc.json
Due: prettier --write --config .config/.prettierrc.json

Delete .lintstagedrc.json
  .lintstagedrc.json
Due: prettier --write --config .config/.prettierrc.json

Delete .nvmrc
  .nvmrc
Due: none

Delete CHANGELOG.md
  CHANGELOG.md
Due: prettier --write --config .config/.prettierrc.json

Delete CONTRIBUTING.md
  CONTRIBUTING.md
Due: prettier --write --config .config/.prettierrc.json

Delete README.md
  README.md
Due: prettier --write --config .config/.prettierrc.json

Delete manifest.json
  manifest.json
Due: prettier --write --config .config/.prettierrc.json

Delete package-lock.json
  package-lock.json
Due: prettier --write --config .config/.prettierrc.json

Delete package.json
  package.json
Due: prettier --write --config .config/.prettierrc.json

Delete robots.txt
  robots.txt
Due: none

Delete sw.js
  sw.js
Due: eslint --fix --config .config/eslint.config.mjs, prettier --write --config .config/.prettierrc.json

Delete tsconfig.json
  tsconfig.json
Due: prettier --write --config .config/.prettierrc.json

Create .gitignore
  .gitignore
Due: none

Create deploy.yml
  .github/workflows/deploy.yml
Due: none

Update index.html
  apps/main/index.html
Due: none

Update manifest.json
  manifest.json
Due: prettier --write --config .config/.prettierrc.json

Update warmthly-head.js
  lego/web-components/warmthly-head.js
Due: eslint --fix --config .config/eslint.config.mjs, prettier --write --config .config/.prettierrc.json

Update warmthly-config.js
  lego/config/warmthly-config.js
Due: eslint --fix --config .config/eslint.config.mjs, prettier --write --config .config/.prettierrc.json

Update components.css
  lego/styles/components.css
Due: none

Update base.css
  lego/styles/base.css
Due: none

Update 404.html
  apps/main/404.html
Due: none

Update index.html
  apps/admin/index.html
Due: none

Update index.html
  apps/admin/emails/index.html
Due: none

Update index.html
  apps/mint/index.html
Due: none

Update index.html
  apps/mint/research/index.html
Due: none

Update index.html
  apps/post/index.html
Due: none

Update index.html
  apps/post/your-data/index.html
Due: none

Update index.html
  apps/post/vote/index.html
Due: none

Update index.html
  apps/post/report/index.html
Due: none

Path conditions:
  eslint --fix --config .config/eslint.config.mjs: any of: *.{ts,tsx,js,jsx}
  prettier --write --config .config/.prettierrc.json: ((any of: *.{ts,tsx,js,jsx}) or (any of: *.{css})) or (any of: *.{json,md})
  stylelint --fix --config .config/.stylelintrc.json: any of: *.{css}
  npm run validate:i18n: any of: lego/i18n/*.json
