Repository tylaperryer/warmthly: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --config .config/eslint.config.mjs, prettier --write --config .config/.prettierrc.json, stylelint --fix --config .config/.stylelintrc.json, npm run validate:i18n

Create compile-lego.ts
  scripts/compile-lego.ts
Due: eslint --fix --config .config/eslint.config.mjs, prettier --write --config .config/.prettierrc.json

Create copy-lego-to-apps.ts
  scripts/copy-lego-to-apps.ts
Due: eslint --fix --config .config/eslint.config.mjs, prettier --write --config .config/.prettierrc.json

Update package.json
  package.json
Due: prettier --write --config .config/.prettierrc.json

Update preserve-lego.ts
  scripts/preserve-lego.ts
Due: eslint --fix --config .config/eslint.config.mjs, prettier --write --config .config/.prettierrc.json

Update build.sh
  scripts/build.sh
Due: none

Update copy-lego-to-apps.ts
  scripts/copy-lego-to-apps.ts
Due: eslint --fix --config .config/eslint.config.mjs, prettier --write --config .config/.prettierrc.json

Update deploy.yml
  .github/workflows/deploy.yml
Due: none

Update verify-build.ts
  scripts/verify-build.ts
Due: eslint --fix --config .config/eslint.config.mjs, prettier --write --config .config/.prettierrc.json

Update index.html
  apps/main/index.html
Due: none

Update components.css
  lego/styles/components.css
Due: none

Update glossary.ts
  lego/utils/glossary.ts
Due: eslint --fix --config .config/eslint.config.mjs, prettier --write --config .config/.prettierrc.json

Delete apps/main/help.html
  apps/main/help.html
Due: none

Delete apps/main/privacy.html
  apps/main/privacy.html
Due: none

Update resolve-imports.ts
  scripts/resolve-imports.ts
Due: eslint --fix --config .config/eslint.config.mjs, prettier --write --config .config/.prettierrc.json

Update analyze-content.ts
  scripts/analyze-content.ts
Due: eslint --fix --config .config/eslint.config.mjs, prettier --write --config .config/.prettierrc.json

Update suggest-internal-links.ts
  scripts/suggest-internal-links.ts
Due: eslint --fix --config .config/eslint.config.mjs, prettier --write --config .config/.prettierrc.json

Update detect-duplicate-content.ts
  scripts/detect-duplicate-content.ts
Due: eslint --fix --config .config/eslint.config.mjs, prettier --write --config .config/.prettierrc.json

Update analyze-link-equity.ts
  scripts/analyze-link-equity.ts
Due: eslint --fix --config .config/eslint.config.mjs, prettier --write --config .config/.prettierrc.json

Update utils.ts
  scripts/utils.ts
Due: eslint --fix --config .config/eslint.config.mjs, prettier --write --config .config/.prettierrc.json

Update warmthly-stoplight.ts
  lego/components/warmthly-stoplight.ts
Due: eslint --fix --config .config/eslint.config.mjs, prettier --write --config .config/.prettierrc.json

Update init.ts
  lego/utils/init.ts
Due: eslint --fix --config .config/eslint.config.mjs, prettier --write --config .config/.prettierrc.json

Update stoplight-utils.ts
  lego/utils/stoplight-utils.ts
Due: eslint --fix --config .config/eslint.config.mjs, prettier --write --config .config/.prettierrc.json

Update base.css
  lego/styles/base.css
Due: none

Update mint.css
  lego/styles/mint.css
Due: none

Update glossary.css
  lego/styles/glossary.css
Due: none

Update index.html
  apps/main/source/index.html
Due: none

Update easy-read.html
  apps/main/easy-read.html
Due: none

Update 404.html
  apps/main/404.html
Due: none

Update index.html
  apps/post/index.html
Due: none

Update index.html
  apps/post/report/index.html
Due: none

Update index.html
  apps/post/vote/index.html
Due: none

Update index.html
  apps/post/your-data/index.html
Due: none

Update index.html
  apps/admin/index.html
Due: none

Update index.html
  apps/admin/emails/index.html
Due: none

Update index.html
  apps/mint/index.html
Due: none

Update index.html
  apps/mint/research/index.html
Due: none

Update sitemap.xml
  apps/main/sitemap.xml
Due: none

Path conditions:
  eslint --fix --config .config/eslint.config.mjs: any of: *.{ts,tsx,js,jsx}
  prettier --write --config .config/.prettierrc.json: ((any of: *.{ts,tsx,js,jsx}) or (any of: *.{css})) or (any of: *.{json,md})
  stylelint --fix --config .config/.stylelintrc.json: any of: *.{css}
  npm run validate:i18n: any of: lego/i18n/*.json
