Repository tylaperryer/warmthly: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --config .config/eslint.config.mjs, prettier --write --config .config/.prettierrc.json, stylelint --fix --config .config/.stylelintrc.json, npm run validate:i18n

Update payment-handler.js
  apps/main/payment-handler.js
Due: eslint --fix --config .config/eslint.config.mjs, prettier --write --config .config/.prettierrc.json

Delete favicon.svg
  favicon.svg
Due: none

Add files via upload
  Oalien.svg
Due: none

Update components.css
  lego/styles/components.css
Due: none

Update base.css
  lego/styles/base.css
Due: none

Update critical.css
  lego/styles/critical.css
Due: none

Update rtl.css
  lego/styles/rtl.css
Due: none

Update warmthly-stoplight.ts
  lego/components/warmthly-stoplight.ts
Due: eslint --fix --config .config/eslint.config.mjs, prettier --write --config .config/.prettierrc.json

Update stoplight-utils.ts
  lego/utils/stoplight-utils.ts
Due: eslint --fix --config .config/eslint.config.mjs, prettier --write --config .config/.prettierrc.json

Update manifest.json
  manifest.json
Due: prettier --write --config .config/.prettierrc.json

Update sw.js
  sw.js
Due: eslint --fix --config .config/eslint.config.mjs, prettier --write --config .config/.prettierrc.json

Update warmthly-config.ts
  lego/config/warmthly-config.ts
Due: eslint --fix --config .config/eslint.config.mjs, prettier --write --config .config/.prettierrc.json

Update init.ts
  lego/utils/init.ts
Due: eslint --fix --config .config/eslint.config.mjs, prettier --write --config .config/.prettierrc.json

Update index.html
  apps/main/index.html
Due: none

Update warmthly-language-switcher.ts
  lego/components/warmthly-language-switcher.ts
Due: eslint --fix --config .config/eslint.config.mjs, prettier --write --config .config/.prettierrc.json

Update tracker-blocker.ts
  lego/utils/tracker-blocker.ts
Due: eslint --fix --config .config/eslint.config.mjs, prettier --write --config .config/.prettierrc.json

Update copy-lego-to-apps.ts
  scripts/copy-lego-to-apps.ts
Due: eslint --fix --config .config/eslint.config.mjs, prettier --write --config .config/.prettierrc.json

Update warmthly-head.ts
  lego/components/warmthly-head.ts
Due: eslint --fix --config .config/eslint.config.mjs, prettier --write --config .config/.prettierrc.json

Update build.sh
  scripts/build.sh
Due: none

Update resolve-imports.ts
  scripts/resolve-imports.ts
Due: eslint --fix --config .config/eslint.config.mjs, prettier --write --config .config/.prettierrc.json

Update vite.config.ts
  .config/vite.config.ts
Due: eslint --fix --config .config/eslint.config.mjs, prettier --write --config .config/.prettierrc.json

Update deploy.yml
  .github/workflows/deploy.yml
Due: none

Delete .config directory
  .config/.eslintrc.json
  .config/.prettierignore
  .config/.prettierrc.json
  .config/.stylelintrc.json
  .config/eslint.config.mjs
  .config/font-subsetting.json
  .config/playwright.config.ts
  .config/postcss.config.js
  .config/test-results/junit.xml
  .config/test-results/results.json
  .config/tsconfig.json
  .config/vite-bundle-enforce.ts
  .config/vite.config.ts
  .config/vitest.config.ts
  .config/wrangler.toml
Due: eslint --fix --config .config/eslint.config.mjs, prettier --write --config .config/.prettierrc.json

Delete .github directory
  .github/dependabot.yml
  .github/workflows/all-checks.yml
  .github/workflows/bundle-size.yml
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  .github/workflows/lighthouse.yml
  .github/workflows/pr-checks.yml
  .github/workflows/security-scan.yml
  .github/workflows/security.yml
Due: none

Delete .husky directory
  .husky/pre-commit
  .husky/pre-push
Due: none

Delete .well-known directory
  .well-known/security.txt
Due: none

Delete apps directory
  apps/admin/emails/index.html
  apps/admin/index.html
  apps/admin/secure-auth.js
  apps/admin/sitemap.xml
  apps/main/404.html
  apps/main/api-config.js
  apps/main/easy-read.html
  apps/main/index.html
  apps/main/main-app-loader.js
  apps/main/payment-handler.js
  apps/main/sitemap.xml
  apps/main/source/index.html
  apps/mint/index.html
  apps/mint/research/index.html
  apps/mint/sitemap.xml
  apps/post/index.html
  apps/post/report/index.html
  apps/post/sitemap.xml
  apps/post/vote/index.html
  apps/post/your-data/index.html
Due: eslint --fix --config .config/eslint.config.mjs, prettier --write --config .config/.prettierrc.json

Delete assets directory
  assets/fonts/CormorantGaramond-Italic-VariableFont_wght.ttf
  assets/fonts/CormorantGaramond-VariableFont_wght.ttf
  assets/fonts/Inter-Italic-VariableFont_opsz,wght.ttf
  assets/fonts/Inter-VariableFont_opsz,wght.ttf
  assets/images/og/README.md
  assets/images/signature.png
  assets/images/worlddots.svg
Due: prettier --write --config .config/.prettierrc.json

Delete docs directory
  docs/ACCESSIBILITY-FEATURES.md
  docs/ADRs/001-lego-architecture.md
  docs/ADRs/002-typescript-strict-mode.md
  docs/ADRs/003-redis-caching.md
  docs/ADRs/004-i18n-architecture.md
  docs/ADRs/005-path-aliases.md
  docs/ADRs/006-web-components.md
  docs/ADRs/README.md
  docs/ALERTING-INTEGRATION.md
  docs/API-ARCHITECTURE.md
  docs/API.md
  docs/ASSET-OPTIMIZATION.md
  docs/CODE-ORGANIZATION.md
  docs/COMPONENT-SYSTEM.md
  docs/CONFIGURATION.md
  docs/DEPENDENCY-VERSIONING.md
  docs/DEPLOYMENT-GUIDE.md
  docs/ENVIRONMENT-VARIABLES.md
  docs/LANGUAGE-SUPPORT.md
  docs/META-TAG-OPTIMIZATION-REPORT.md
  docs/OCI-MIGRATION.md
  docs/SECURITY-HARDENING.md
  docs/SECURITY-MONITORING.md
  docs/SECURITY-TOKEN-STORAGE.md
  docs/SEO-AUDIT-REPORT.md
  docs/SEO-COMPLETE.md
  docs/SEO-SCORE-REPORT.md
  docs/STANDARDS-COMPLIANCE.md
  docs/TESTING-GUIDE.md
  docs/TRACKER-BLOCKER-MAINTENANCE.md
  docs/TYPESCRIPT-CONFIG.md
  docs/YOCO-SDK-SRI.md
Due: prettier --write --config .config/.prettierrc.json

Delete .editorconfig
  .editorconfig
Due: none

Path conditions:
  eslint --fix --config .config/eslint.config.mjs: any of: *.{ts,tsx,js,jsx}
  prettier --write --config .config/.prettierrc.json: ((any of: *.{ts,tsx,js,jsx}) or (any of: *.{css})) or (any of: *.{json,md})
  stylelint --fix --config .config/.stylelintrc.json: any of: *.{css}
  npm run validate:i18n: any of: lego/i18n/*.json
