Repository tylaperryer/warmthly: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --config .config/eslint.config.mjs, prettier --write --config .config/.prettierrc.json, stylelint --fix --config .config/.stylelintrc.json, npm run validate:i18n

Update bundle-size.yml
  .github/workflows/bundle-size.yml
Due: none

Update ci.yml
  .github/workflows/ci.yml
Due: none

Update deploy.yml
  .github/workflows/deploy.yml
Due: none

Update lighthouse.yml
  .github/workflows/lighthouse.yml
Due: none

Update security-scan.yml
  .github/workflows/security-scan.yml
Due: none

Update security.yml
  .github/workflows/security.yml
Due: none

Update all-checks.yml
  .github/workflows/all-checks.yml
Due: none

Delete scripts directory
  scripts/analyze-content.ts
  scripts/analyze-external-links.ts
  scripts/analyze-link-equity.ts
  scripts/audit-accessibility.ts
  scripts/audit-alt-text.ts
  scripts/build.sh
  scripts/calculate-seo-score.ts
  scripts/check-bundle-size.js
  scripts/check-secrets.ts
  scripts/cleanup-warmthly-head.ts
  scripts/detect-broken-links.ts
  scripts/detect-duplicate-content.ts
  scripts/extract-critical-css.ts
  scripts/generate-seo-report.ts
  scripts/generate-sitemap.ts
  scripts/monitor-performance-budget.ts
  scripts/optimize-images.ts
  scripts/optimize-meta-tags.ts
  scripts/reorganize-api.py
  scripts/subset-fonts.ts
  scripts/suggest-internal-links.ts
  scripts/test-pagespeed.ts
  scripts/test-rich-snippets.ts
  scripts/tsconfig.json
  scripts/utils.ts
  scripts/validate-i18n.ts
  scripts/validate-robots.ts
  scripts/validate-semantic-html.ts
  scripts/validate-sitemap.ts
  scripts/validate-structured-data.ts
  scripts/validate-url-structure.ts
  scripts/verify-build.ts
Due: eslint --fix --config .config/eslint.config.mjs, prettier --write --config .config/.prettierrc.json

Add files via upload
  scripts/analyze-content.ts
  scripts/analyze-external-links.ts
  scripts/analyze-link-equity.ts
  scripts/audit-accessibility.ts
  scripts/audit-alt-text.ts
  scripts/build.sh
  scripts/calculate-seo-score.ts
  scripts/check-bundle-size.js
  scripts/check-secrets.ts
  scripts/cleanup-warmthly-head.ts
  scripts/detect-broken-links.ts
  scripts/detect-duplicate-content.ts
  scripts/extract-critical-css.ts
  scripts/generate-seo-report.ts
  scripts/generate-sitemap.ts
  scripts/monitor-performance-budget.ts
  scripts/optimize-images.ts
  scripts/optimize-meta-tags.ts
  scripts/reorganize-api.py
  scripts/subset-fonts.ts
  scripts/suggest-internal-links.ts
  scripts/test-pagespeed.ts
  scripts/test-rich-snippets.ts
  scripts/tsconfig.json
  scripts/utils.ts
  scripts/validate-i18n.ts
  scripts/validate-robots.ts
  scripts/validate-semantic-html.ts
  scripts/validate-sitemap.ts
  scripts/validate-structured-data.ts
  scripts/validate-url-structure.ts
  scripts/verify-build.ts
Due: eslint --fix --config .config/eslint.config.mjs, prettier --write --config .config/.prettierrc.json

Delete api/middleware directory
  api/middleware/api-versioning.ts
  api/middleware/index.ts
  api/middleware/input-validation.ts
  api/middleware/rate-limit-enhanced.ts
  api/middleware/rate-limit.ts
Due: eslint --fix --config .config/eslint.config.mjs, prettier --write --config .config/.prettierrc.json

Add files via upload
  api/middleware/api-versioning.ts
  api/middleware/index.ts
  api/middleware/input-validation.ts
  api/middleware/rate-limit-enhanced.ts
  api/middleware/rate-limit.ts
Due: eslint --fix --config .config/eslint.config.mjs, prettier --write --config .config/.prettierrc.json

Delete api/endpoints directory
  api/endpoints/airtable.ts
  api/endpoints/convert-currency.ts
  api/endpoints/create-checkout.ts
  api/endpoints/csp-report.ts
  api/endpoints/get-emails.ts
  api/endpoints/get-yoco-public-key.ts
  api/endpoints/inbound-email.ts
  api/endpoints/index.ts
  api/endpoints/reports.ts
  api/endpoints/send-email.ts
Due: eslint --fix --config .config/eslint.config.mjs, prettier --write --config .config/.prettierrc.json

Add files via upload
  api/endpoints/airtable.ts
  api/endpoints/convert-currency.ts
  api/endpoints/create-checkout.ts
  api/endpoints/csp-report.ts
  api/endpoints/get-emails.ts
  api/endpoints/get-yoco-public-key.ts
  api/endpoints/inbound-email.ts
  api/endpoints/index.ts
  api/endpoints/reports.ts
  api/endpoints/send-email.ts
Due: eslint --fix --config .config/eslint.config.mjs, prettier --write --config .config/.prettierrc.json

Delete api/auth directory
  api/auth/index.ts
  api/auth/login.ts
  api/auth/mfa-setup.ts
  api/auth/totp.ts
Due: eslint --fix --config .config/eslint.config.mjs, prettier --write --config .config/.prettierrc.json

Add files via upload
  api/auth/index.ts
  api/auth/login.ts
  api/auth/mfa-setup.ts
  api/auth/totp.ts
Due: eslint --fix --config .config/eslint.config.mjs, prettier --write --config .config/.prettierrc.json

Delete api/utils directory
  api/utils/advanced-secrets.ts
  api/utils/cache-headers.ts
  api/utils/crypto-utils.ts
  api/utils/error-response.ts
  api/utils/error-sanitizer.ts
  api/utils/index.ts
  api/utils/logger.ts
  api/utils/redis-client.ts
  api/utils/secrets-management.ts
Due: eslint --fix --config .config/eslint.config.mjs, prettier --write --config .config/.prettierrc.json

Add files via upload
  api/utils/advanced-secrets.ts
  api/utils/cache-headers.ts
  api/utils/crypto-utils.ts
  api/utils/error-response.ts
  api/utils/error-sanitizer.ts
  api/utils/index.ts
  api/utils/logger.ts
  api/utils/redis-client.ts
  api/utils/secrets-management.ts
  api/utils/string-utils.ts
Due: eslint --fix --config .config/eslint.config.mjs, prettier --write --config .config/.prettierrc.json

Update input-validation.ts
  api/middleware/input-validation.ts
Due: eslint --fix --config .config/eslint.config.mjs, prettier --write --config .config/.prettierrc.json

Update inbound-email.ts
  api/endpoints/inbound-email.ts
Due: eslint --fix --config .config/eslint.config.mjs, prettier --write --config .config/.prettierrc.json

Update anomaly-detection.ts
  api/security/anomaly-detection.ts
Due: eslint --fix --config .config/eslint.config.mjs, prettier --write --config .config/.prettierrc.json

Update rate-limit.ts
  api/middleware/rate-limit.ts
Due: eslint --fix --config .config/eslint.config.mjs, prettier --write --config .config/.prettierrc.json

Update package.json
  package.json
Due: prettier --write --config .config/.prettierrc.json

Update advanced-secrets.ts
  api/utils/advanced-secrets.ts
Due: eslint --fix --config .config/eslint.config.mjs, prettier --write --config .config/.prettierrc.json

Delete api/security directory
  api/security/anomaly-detection.ts
  api/security/certificate-monitoring.ts
  api/security/csrf.ts
  api/security/index.ts
  api/security/maxmind.d.ts
  api/security/request-signing.ts
  api/security/request-timeout.ts
  api/security/secure-cookies.ts
  api/security/security-monitor.ts
Due: eslint --fix --config .config/eslint.config.mjs, prettier --write --config .config/.prettierrc.json

Add files via upload
  api/security/anomaly-detection.ts
  api/security/certificate-monitoring.ts
  api/security/csrf.ts
  api/security/index.ts
  api/security/maxmind.d.ts
  api/security/request-signing.ts
  api/security/request-timeout.ts
  api/security/secure-cookies.ts
  api/security/security-monitor.ts
Due: eslint --fix --config .config/eslint.config.mjs, prettier --write --config .config/.prettierrc.json

Update package-lock.json
  package-lock.json
Due: prettier --write --config .config/.prettierrc.json

Delete .config directory
  .config/.eslintrc.json
  .config/.prettierignore
  .config/.prettierrc.json
  .config/.stylelintrc.json
  .config/eslint.config.mjs
  .config/font-subsetting.json
  .config/playwright.config.ts
  .config/postcss.config.js
  .config/tsconfig.json
  .config/vite-bundle-enforce.ts
  .config/vite.config.ts
  .config/vitest.config.ts
  .config/wrangler.toml
Due: eslint --fix --config .config/eslint.config.mjs, prettier --write --config .config/.prettierrc.json

Delete .github directory
  .github/dependabot.yml
  .github/workflows/all-checks.yml
  .github/workflows/bundle-size.yml
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  .github/workflows/lighthouse.yml
  .github/workflows/pr-checks.yml
  .github/workflows/security-scan.yml
  .github/workflows/security.yml
Due: none

Delete .husky directory
  .husky/pre-commit
  .husky/pre-push
Due: none

Delete .well-known directory
  .well-known/security.txt
Due: none

Delete apps directory
  apps/admin/emails/index.html
  apps/admin/index.html
  apps/admin/secure-auth.js
  apps/main/404.html
  apps/main/easy-read.html
  apps/main/help.html
  apps/main/index.html
  apps/main/privacy.html
  apps/main/source/index.html
  apps/mint/index.html
  apps/mint/research/index.html
  apps/post/index.html
  apps/post/report/index.html
  apps/post/vote/index.html
  apps/post/your-data/index.html
Due: eslint --fix --config .config/eslint.config.mjs, prettier --write --config .config/.prettierrc.json

Delete assets directory
  assets/fonts/CormorantGaramond-Italic-VariableFont_wght.ttf
  assets/fonts/CormorantGaramond-VariableFont_wght.ttf
  assets/fonts/Inter-Italic-VariableFont_opsz,wght.ttf
  assets/fonts/Inter-VariableFont_opsz,wght.ttf
  assets/images/og/README.md
  assets/images/signature.png
  assets/images/worlddots.svg
Due: prettier --write --config .config/.prettierrc.json

Delete docs directory
  docs/ACCESSIBILITY-FEATURES.md
  docs/ADRs/001-lego-architecture.md
  docs/ADRs/002-typescript-strict-mode.md
  docs/ADRs/003-redis-caching.md
  docs/ADRs/004-i18n-architecture.md
  docs/ADRs/005-path-aliases.md
  docs/ADRs/006-web-components.md
  docs/ADRs/README.md
  docs/ALERTING-INTEGRATION.md
  docs/API-ARCHITECTURE.md
  docs/API.md
  docs/ASSET-OPTIMIZATION.md
  docs/CODE-ORGANIZATION.md
  docs/COMPONENT-SYSTEM.md
  docs/CONFIGURATION.md
  docs/DEPENDENCY-VERSIONING.md
  docs/DEPLOYMENT-GUIDE.md
  docs/ENVIRONMENT-VARIABLES.md
  docs/LANGUAGE-SUPPORT.md
  docs/OCI-MIGRATION.md
  docs/SECURITY-HARDENING.md
  docs/SECURITY-MONITORING.md
  docs/SECURITY-TOKEN-STORAGE.md
  docs/SEO-COMPLETE.md
  docs/STANDARDS-COMPLIANCE.md
  docs/TESTING-GUIDE.md
  docs/TYPESCRIPT-CONFIG.md
  docs/YOCO-SDK-SRI.md
Due: prettier --write --config .config/.prettierrc.json

Delete .editorconfig
  .editorconfig
Due: none

Delete .gitignore
  .gitignore
Due: none

Path conditions:
  eslint --fix --config .config/eslint.config.mjs: any of: *.{ts,tsx,js,jsx}
  prettier --write --config .config/.prettierrc.json: ((any of: *.{ts,tsx,js,jsx}) or (any of: *.{css})) or (any of: *.{json,md})
  stylelint --fix --config .config/.stylelintrc.json: any of: *.{css}
  npm run validate:i18n: any of: lego/i18n/*.json
