Repository tylaperryer/warmthly: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --config .config/eslint.config.mjs, prettier --write --config .config/.prettierrc.json, stylelint --fix --config .config/.stylelintrc.json, npm run validate:i18n

Delete .lighthouserc.json
  .lighthouserc.json
Due: prettier --write --config .config/.prettierrc.json

Delete .lintstagedrc.json
  .lintstagedrc.json
Due: prettier --write --config .config/.prettierrc.json

Delete .nvmrc
  .nvmrc
Due: none

Delete CHANGELOG.md
  CHANGELOG.md
Due: prettier --write --config .config/.prettierrc.json

Delete CNAME
  CNAME
Due: none

Delete CONTRIBUTING.md
  CONTRIBUTING.md
Due: prettier --write --config .config/.prettierrc.json

Delete README.md
  README.md
Due: prettier --write --config .config/.prettierrc.json

Delete favicon.svg
  favicon.svg
Due: none

Delete manifest.json
  manifest.json
Due: prettier --write --config .config/.prettierrc.json

Delete package.json
  package.json
Due: prettier --write --config .config/.prettierrc.json

Delete package-lock.json
  package-lock.json
Due: prettier --write --config .config/.prettierrc.json

Delete robots.txt
  robots.txt
Due: none

Delete sw.js
  sw.js
Due: eslint --fix --config .config/eslint.config.mjs, prettier --write --config .config/.prettierrc.json

Delete tsconfig.json
  tsconfig.json
Due: prettier --write --config .config/.prettierrc.json

Create xs
  lego/xs
Due: none

Delete lego/xs
  lego/xs
Due: none

Add files via upload
  lego/components/a11y/index.ts
  lego/components/a11y/warmthly-modal.ts
  lego/components/a11y/warmthly-tooltip.ts
  lego/components/forms/index.ts
  lego/components/forms/warmthly-button.ts
  lego/components/forms/warmthly-field-group.ts
  lego/components/forms/warmthly-form.ts
  lego/components/forms/warmthly-input.ts
  lego/components/forms/warmthly-select.ts
  lego/components/forms/warmthly-textarea.ts
  lego/components/index.ts
  lego/components/loading/index.ts
  lego/components/loading/warmthly-progress.ts
  lego/components/loading/warmthly-skeleton.ts
  lego/components/loading/warmthly-spinner.ts
  lego/components/warmthly-abbreviations.ts
  lego/components/warmthly-breadcrumb.ts
  lego/components/warmthly-content-freshness.ts
  lego/components/warmthly-fade-in.ts
  lego/components/warmthly-font-loader.ts
  lego/components/warmthly-glossary.ts
  lego/components/warmthly-head-helper.ts
  lego/components/warmthly-head.ts
  lego/components/warmthly-header.ts
  lego/components/warmthly-i18n.ts
  lego/components/warmthly-language-switcher.ts
  lego/components/warmthly-last-updated.ts
  lego/components/warmthly-media-accessibility.ts
  lego/components/warmthly-pronunciation.ts
  lego/components/warmthly-reading-level.ts
  lego/components/warmthly-social-share.ts
  lego/components/warmthly-stoplight.ts
  lego/components/world-map-svg.ts
Due: eslint --fix --config .config/eslint.config.mjs, prettier --write --config .config/.prettierrc.json

Create dependabot.yml
  .github/dependabot.yml
Due: none

Create all-checks.yml
  .github/workflows/all-checks.yml
Due: none

Add files via upload
  .github/workflows/bundle-size.yml
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  .github/workflows/lighthouse.yml
  .github/workflows/pr-checks.yml
  .github/workflows/security-scan.yml
  .github/workflows/security.yml
Due: none

Create xs
  .config/xs
Due: none

Add files via upload
  .config/eslint.config.mjs
  .config/font-subsetting.json
  .config/playwright.config.ts
  .config/postcss.config.js
  .config/test-results/junit.xml
  .config/test-results/results.json
  .config/tsconfig.json
  .config/vite-bundle-enforce.ts
  .config/vite.config.ts
  .config/vitest.config.ts
  .config/wrangler.toml
Due: eslint --fix --config .config/eslint.config.mjs, prettier --write --config .config/.prettierrc.json

Create .eslintrc.json
  .config/.eslintrc.json
Due: prettier --write --config .config/.prettierrc.json

Delete .config/xs
  .config/xs
Due: none

Create .prettierignore
  .config/.prettierignore
Due: none

Create .prettierrc.json
  .config/.prettierrc.json
Due: prettier --write --config .config/.prettierrc.json

Create .stylelintrc.json
  .config/.stylelintrc.json
Due: prettier --write --config .config/.prettierrc.json

Create pre-commit
  .husky/pre-commit
Due: none

Create pre-push
  .husky/pre-push
Due: none

Create security.txt
  .well-known/security.txt
Due: none

Create .gitignore
  .gitignore
Due: none

Create .editorconfig
  .editorconfig
Due: none

Create .lighthouserc.json
  .lighthouserc.json
Due: prettier --write --config .config/.prettierrc.json

Create .lintstagedrc.json
  .lintstagedrc.json
Due: prettier --write --config .config/.prettierrc.json

Create .nvmrc
  .nvmrc
Due: none

Path conditions:
  eslint --fix --config .config/eslint.config.mjs: any of: *.{ts,tsx,js,jsx}
  prettier --write --config .config/.prettierrc.json: ((any of: *.{ts,tsx,js,jsx}) or (any of: *.{css})) or (any of: *.{json,md})
  stylelint --fix --config .config/.stylelintrc.json: any of: *.{css}
  npm run validate:i18n: any of: lego/i18n/*.json
